
.tab {
    padding: 15px 20px;
    background: #333333;
    border-radius: 5px 5px 0px 0px;
    margin-right: 5px;
    a {
        font-size: 16px !important;
    }
}

.getCollection {
    border-radius: 5px;
    padding: 4px 12px !important;
}

@media only screen and (min-width: 1599px) {

}

@media only screen and (max-width: 1439px) {

}

@media only screen and (max-width: 1365px) {

}

@media only screen and (max-width: 1279px) {

}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 559px) {

}

@media only screen and (max-width: 479px) {

}